.intro-container{
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr;
    align-items: center;
    background-image: url("../img/background-kids-2.jpg");
    background-position: center;
    background-size: cover;
}

.intro-container__nav{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.intro-container__center{
    width: 100%;
    max-width: 1024px;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    
}

.intro-container__tittle{
    width: 100%;
    text-align: center;
    font-family: robot;
    font-size: 100px;
    margin-bottom: 100px;
    -webkit-text-stroke: 1px #000;
    color: var(--color-skyblue);
    align-self: flex-start;
    
}

@media screen and (max-width:1024px) {
    .intro-container__tittle{
        font-size: 70px;
    }
}

.credits{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: branding;
    font-size: 15px;
    color: #fff;
    font-weight: normal;
}

.credits img{
    width: 100px;
}