.minigamecard-container{
    height: 100px;
    border-radius: 25px;
    overflow: hidden;
    border: 5px solid var(--color-orange);
    box-shadow: 0px 5px 10px #000;
}

.minigamecard-container img{
    height: 100%;
}

@media screen and (max-width:1024px) {
    .minigamecard-container{
        width: 100px;
    }
    
}