.vowels-container{
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    width: 100vw;
    background-image: url("/img/background-level-vowels.webp");
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.vowels-container__vowels-center{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
}

@media screen and (max-width:1024px) {
    .vowels-container__tittle-container h1{
        font-size: 90px;
    }
    
}