.vowels-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/background-level-vowels.png");
    background-position: center;
    background-size: cover;
}
.vowels-container__tittle-container{
    text-align: center;
    font-family: crayola;
    padding: 0;
    align-self: center;
}

.vowels-container__tittle-container h1{
    text-align: center;
    font-size: 140px;
    margin: 0;
    color: #FF5733;
    font-weight: normal;
}


.vowels-container__vowels-center{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    justify-self: center;
}

@media screen and (max-width:1024px) {
    .vowels-container__tittle-container h1{
        font-size: 90px;
    }
    
}