.centerLetters{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    /* background-color: grey; */
    align-items: center;
}
.centerTittle{
    text-align: center;
    font-family: crayola;
    padding: 0;
    /* background-color: aqua; */
}

.centerTittle p{
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.lettersTittle{
    text-align: center;
    font-size: 80px;
    margin: 0;
    color: #FF5733;
}
.containerLetters{
    width: 100%;
    max-width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: green; */
}

@media screen and (max-height: 500px) {
    .centerTittle p{
        font-size: 30px;
    }
    .lettersTittle{
        text-align: center;
        font-size: 50px;
    }
    
}