 :root{
  --color-purple: #511f73;
  --color-skyblue:#26a699;
  --color-yellow:#febe22;
  --color-orange:#f29227;
  --color-red:#f24c3d;
  --color-green:#79c141;
 }
 @font-face {
  font-family: crayola;
  src: url("./assets/Crayon.ttf");
 }
 @font-face {
  font-family: robot;
  src: url("./assets/Patchy-Robots.ttf");
 }


 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}